div(class="download") <a ng-click="download()"> Download </a> 
// add filter rather than using ng-if
div(ng-repeat="type in types | filter:hasSelected" class='col' ng-style="{'margin-left': $index>0?'3em':'0em'}")
	div <strong>{{type.name}}</strong>
		//- a.hover-dark.type-icon(title="Upload selected signatures to GEN3VA" ng-if="type.checkoutSelectedCount>0" ng-click="uploadToGEN3VA()")
			i.fa.fa-upload
		a.hover-dark.type-icon(title="PCA visualization" ng-if="type.checkoutSelectedCount>2 && type.id=='level5'" ng-click="visualizePCA(type)")
			i.fa.fa-cube
	table
		tr(ng-repeat="(key,item) in type.selectedItems" )
			td(ng-class="{highlight:type.highlight(item)}") {{item.batch}}
			td(ng-class="{highlight:type.highlight(item)}") {{item.pert}} 
			td(ng-class="{highlight:type.highlight(item)}" ng-if="item.dose") {{item.dose}}
			td
				span(uib-popover-template="templateURL.upGenes" popover-animation="false" popover-trigger="none" popover-is-open="item.__upGenes").popover-upGenes
				span(uib-popover-template="templateURL.dnGenes" popover-animation="false" popover-trigger="none" popover-is-open="item.__dnGenes").popover-dnGenes
				//- tabindex make a link focusable
				a.hover-dark(uib-popover-template="templateURL.popover" popover-animation="false" popover-trigger="none",ng-click="openPopover(type,item);$event.stopPropagation();",popover-is-open="item.__popover")
					i.fa.fa-th-large
			td <input ng-model="item.__checkoutSelected" type="checkbox" ng-change="countCheckoutSelected(type)">
			td
				a(ng-click="type.remove(item)") Remove
	div.page-option
		a(ng-click="selectItems(type)") select
		select(ng-model="type.checkoutView.select.option" ng-init="type.checkoutView.select.option = type.checkoutView.select.init")
			option(ng-repeat="option in type.checkoutView.select.options" value="{{option}}") {{option}}
		a.remove-items(ng-click="removeItems(type)") remove
		select(ng-model="type.checkoutView.remove.option" ng-init="type.checkoutView.remove.option = type.checkoutView.remove.init")
			option(ng-repeat="option in type.checkoutView.remove.options" value="{{option}}") {{option}}
	//- div(ng-repeat="(key,item) in type.selectedItems") {{item.batch}}, {{item.pert}}{{item.dose?(", "+item.dose):''}}                     
	//- 	a(ng-click="type.remove(item)") Remove

