.DEGs-popover
	.DEGs-popover-title Down Genes
		a.DEGs-popover-remove.hover-dark(ng-click="item.__dnGenes=false")
			i(class="fa fa-times")

	div
		textarea(disabled) {{item.dnGenes.join('\n')}}
	a.enrichr(ng-click="enrichr(item.dnGenes,type.getName(item)+', down genes')") En<span>rich</span>r         
		i.fa.fa-external-link