doctype html
html(lang='en', ng-app='Lich')
  head
    title 
    link(rel='shortcut icon', href='css/images/?.ico', type='image/x-icon')
    //style
    link(rel='stylesheet', href='libraries/font-awesome/css/font-awesome.min.css')
    //- link(rel='stylesheet', type='text/css', href='libraries/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet',href='libraries/ng-tags-input/ng-tags-input.min.css')     
    // libraries 
    script(src='libraries/jquery/jquery.min.js')
    script(src='libraries/string/lib/string.min.js')
    script(src='libraries/underscore/underscore-min.js')
    script(src='libraries/angular/angular.js')
    script(src='libraries/angular-route/angular-route.min.js')     
    //- script(src='versioned/ui-bootstrap-tpls-0.12.0.min.js')
    script(src="libraries/ng-tags-input/ng-tags-input.min.js")
    // scripts
    script(src='scripts/app.js')
    script(src='scripts/controllers.js')   
    script(src='scripts/services.js')

  body(ng-controller='index')
    img(src="css/img/lich.jpg" class="lich")
    span <span class="header">Lich</span>   <span class="sub-header">LINCS L1000 Search</span>
    a(ng-if="selectedCount>0" href="#/checkout" class="checkout")           checkout {{selectedCount}}
    div
        tags-input(ng-model="tags" min-length=2 class="search-box")
            auto-complete(min-length=2 source="loadTags($query)")
        a(ng-click="search()" href="#/search" class="search") Search                  
    div(ng-view class="view")