doctype html
html(lang='en', ng-app='Lich')
  head
    title 
    link(rel="icon" href="css/img/pizza-2d.png")
    //style
    link(rel='stylesheet', href='libraries/normalize.css/normalize.css')
    link(rel='stylesheet', href='libraries/font-awesome/css/font-awesome.min.css')
    //- link(rel='stylesheet', type='text/css', href='libraries/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet',href='libraries/ng-tags-input/ng-tags-input.min.css') 
    link(rel='stylesheet',href='css/dcic.css')
    link(href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css')    
    // libraries 
    script(src='libraries/jquery/jquery.min.js')
    script(src='libraries/string/lib/string.min.js')
    script(src='libraries/underscore/underscore-min.js')
    script(src='libraries/angular/angular.js')
    script(src='libraries/angular-route/angular-route.min.js')
    script(src="libraries/angular-animate/angular-animate.min.js")      
    script(src='versioned/ui-bootstrap-tpls-0.14.3.min.js')
    script(src="libraries/ng-tags-input/ng-tags-input.min.js")
    script(src='libraries/jquery/jquery.min.js')
    script(src="versioned/highcharts/highcharts.js")
    script(src="versioned/highcharts/highcharts-3d.js")
    script(src="versioned/highcharts/exporting.js")
    // scripts
    if dev
        script(src='scripts/app.js')
        script(src='scripts/controllers.js')   
        script(src='scripts/services.js')
        script(src='scripts/directive.js')
        script(src="scripts/registry-front-end.js")
    else
        script(src='dist/main.min.js')

  body(ng-controller='index')
    .search-bar(ng-style="hasResults()?{'margin-top':'0px'}:{'margin-top':'200px'}")
        div
            div.theme-color-dark.top-header(ng-style="hasResults()>0?{'margin-top':'0px'}:{'margin-bottom':'13px'}")
                img(src="css/img/pizza.png" class="app-symbol" ng-click="toDefaultView()")
                span <span class="header" ng-click="toDefaultView()">Slicer</span>   <span class="sub-header">LINCS L1000 Slicer (<a target="_blank" href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE70138">GSE70138</a> data only)</span>
                a(ng-click="toPreviousView()" ng-style="{opacity: isNotSearchView()?1:0 }" class="back") <
                a.checkout(href="#/checkout" ng-class="{'disabled':!hasResults()}")<img ng-src="css/img/cart.png"></img><span ng-if="selectedCount>0" ng-class="{'single-digit':selectedCount<9,'double-digit':selectedCount>9}">{{selectedCount}}</span>
                a.mannual(href="help.html")<i class="fa fa-question-circle"></i>
            div
                tags-input(placeholder="Search a gene expression profile by perturbation, cell-line, time point or dose" ng-model="tags" min-length=2 class="search-box")
                    auto-complete(min-length=2 source="loadTags($query)")
                a(ng-click="from=0;search()" href="#/search" class="search") Search                  
    .view(ng-view)
    .footer.theme-color-dark
        .footer-wrapper
            a.dcic-link(ng-href="http://lincs-dcic.org/" target="_blank")
                img.logo(src="css/img/DCIC_500x375_cropped.png")
                span.title.logo-title
                    .bd2k BD2K-LINCS
                    div Data Coordination <br> Integrattion Center
            span.title.lab-title
                div <a class="lab-link" ng-href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan</a> Lab of Computational System Biology
                div <a ng-href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>
            a.more-apps(ng-href="http://lincs-dcic.org/#/resources") More Apps                                  
                i.fa.fa-external-link 
