doctype html
html(lang='en', ng-app='Lich')
  head
    title 
    link(rel='shortcut icon', href='css/images/?.ico', type='image/x-icon')
    //style
    link(rel='stylesheet', href='libraries/normalize.css/normalize.css')
    link(rel='stylesheet', href='libraries/font-awesome/css/font-awesome.min.css')
    //- link(rel='stylesheet', type='text/css', href='libraries/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet',href='libraries/ng-tags-input/ng-tags-input.min.css') 
    link(rel='stylesheet',href='css/dcic.css')
    link(href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css')    
    // libraries 
    script(src='libraries/jquery/jquery.min.js')
    script(src='libraries/string/lib/string.min.js')
    script(src='libraries/underscore/underscore-min.js')
    script(src='libraries/angular/angular.js')
    script(src='libraries/angular-route/angular-route.min.js')
    script(src="libraries/angular-animate/angular-animate.min.js")      
    script(src='versioned/ui-bootstrap-tpls-0.14.3.min.js')
    script(src="libraries/ng-tags-input/ng-tags-input.min.js")
    script(src='libraries/jquery/jquery.min.js')
    script(src="libraries/highcharts/highcharts.js")
    script(src="libraries/highcharts/highcharts-3d.js")
    script(src="libraries/highcharts/modules/exporting.js")
    // scripts
    script(src='scripts/app.js')
    script(src='scripts/controllers.js')   
    script(src='scripts/services.js')
    script(src='scripts/directive.js')
    script(src="scripts/registry-front-end.js")

  body(ng-controller='index')
    .search-bar
        div
            div.theme-color-dark
                img(src="css/img/lich.jpg" class="lich" ng-click="toDefautView()")
                span <span class="header" ng-click="toDefautView()">Lich</span>   <span class="sub-header">LINCS L1000 Search (<a target="_blank" href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE70138">GSE70138</a> data only)</span>
                a(ng-click="toPreviousView()" ng-style="{opacity: isNotSearchView()?1:0 }" class="back") <
                a(ng-if="selectedCount>0" href="#/checkout" class="checkout") checkout {{selectedCount}}
            div
                tags-input(placeholder="Search a gene expression profile by perturbation, cell-line, time point or dose" ng-model="tags" min-length=2 class="search-box")
                    auto-complete(min-length=2 source="loadTags($query)")
                a(ng-click="from=0;search()" href="#/search" class="search") Search                  
    .view(ng-view)
    .footer.theme-color-dark
        .footer-wrapper
            a.dcic-link(ng-href="http://lincs-dcic.org/" target="_blank")
                img.logo(src="css/img/DCIC_500x375_cropped.png")
                span.title.logo-title
                    .bd2k BD2K-LINCS
                    div Data Coordination <br> Integrattion Center
            span.title.lab-title
                div <a class="lab-link" ng-href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan</a> Lab of Computational System Biology
                div <a ng-href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>
            a.more-apps(ng-href="http://lincs-dcic.org/#/resources") More Apps                                  
                i.fa.fa-external-link 
