div
	div(scatter3d id='container')
	div
		button(ng-click="colorParam='perturbation'" ng-class="{'param-btn-current':colorParam=='perturbation'}").param-btn Perturbation
		button(ng-click="colorParam='cell'" ng-class="{'param-btn-current':colorParam=='cell'}").param-btn Cell
		button(ng-click="colorParam='time'" ng-class="{'param-btn-current':colorParam=='time'}").param-btn Time point