//- change to table
div(ng-if="(types[0].items&&types[0].items.length>0) && tags.length>0" ng-repeat="type in types" class='col' ng-style="{'margin-left': $index>0?'3em':'0em'}")
	div <strong>{{type.name}}</strong>
	table
		tr(ng-repeat="item in type.items" ng-class="{highlight:type.highlight(item)}")
			td {{item.batch}}
			td {{item.pert}} 
			td(ng-if="item.dose") {{item.dose}}
			td
				a.cart(ng-click="item.__selected = !item.__selected;type.toggleSelected(item)") <i class="fa fa-shopping-cart"></i><i ng-if="!item.__selected" class="fa fa-plus cart-add"></i><i ng-if="item.__selected" class="fa fa-check cart-add"></i>
			//- td <input ng-model="item.__selected" type="checkbox" ng-change="type.toggleSelected(item)"></iput>
	div.page-option
		a.previous(ng-style="{opacity: type.from>=type.size?1:0}" ng-click="previous(type)" class="previous") previous
		a.next(ng-if="(type.from+type.size)<count" ng-click="next(type)" class="next") next
		a(ng-click="selectItems(type)") select
		select(ng-model="type.searchView.select.option" ng-init="type.searchView.select.option = type.searchView.select.init")
			option(ng-repeat="option in type.searchView.select.options" value="{{option}}") {{option}}
