html
	head
		script(src='libraries/jquery/jquery.min.js')
		script(src="libraries/highcharts/highcharts.js")
		script(src="libraries/highcharts/highcharts-3d.js")
		script(src="libraries/highcharts/modules/exporting.js")
	body
		div(id="container")
		div
			button Perturbation
			button Cell
			button Time point
	script(src="scripts/chart.js")