.DEGs-popover
	.DEGs-popover-title Up Genes
		a.DEGs-popover-remove.hover-dark(ng-click="item.__upGenes=false")
			i(class="fa fa-times")

	div
		textarea(disabled) {{item.upGenes.join('\n')}}
	a.enrichr(ng-click="enrichr(item.upGenes,type.getName(item)+', up genes')") En<span>rich</span>r         
		i.fa.fa-external-link