/* colors */
/* Logo and accent colors */
/* Unused! */
/* fonts */
.theme-color {
  color: #3593b1;
}
.theme-color-dark {
  color: #09505b;
  font-family: 'Arial', sans-serif;
}
body {
  font-family: 'Arial', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: #09505b;
}
.search-bar {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
}
.search-bar > * {
  margin: auto;
}
.sub-header {
  font-family: 'Archivo Narrow', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}
.top-header {
  margin-top: 5px;
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e4e4e4;
  background: #f2f2f2;
}
.footer-wrapper {
  width: 540px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.bd2k a {
  color: #808080;
}
.bd2k a:hover {
  text-decoration: underline;
}
.logo {
  width: 60px;
  margin-top: 15px;
}
.title {
  display: inline-block;
}
.logo-title {
  vertical-align: 60%;
  margin-left: 10px;
}
.bd2k {
  color: #808080;
  font-size: 0.8em;
}
.lab-title {
  vertical-align: 80%;
  font-size: 0.85em;
  margin-left: 20px;
  padding-right: 30px;
}
.lab-link {
  text-decoration: none;
  color: #09505b;
}
.lab-link:hover {
  text-decoration: underline;
  color: #3593b1;
}
.view {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.manual {
  width: 667px;
  text-align: justify;
  font-size: 13px;
}
a {
  color: #3593b1;
}
a.dcic-link {
  color: #09505b;
}
a.more-apps {
  vertical-align: 190%;
  font-size: 0.9em;
}
.fig {
  border: solid;
  border-width: thin;
  border-color: #bbb;
  padding: 5px;
  width: 650px;
}
.download {
  flex: 1 100%;
  text-align: center;
}
td {
  padding-right: 6px;
}
.highlight {
  color: #3593b1;
  font-weight: bold;
}
.hover-dark:hover {
  color: #09505b;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.icon-popover {
  display: flex;
  align-content: center;
  justify-content: space-around;
  /* height: 25px; */
  padding: 3px;
}
img.sigine {
  width: 14px;
  height: 14px;
}
.DEGs-popover {
  padding: 4px 6px;
}
.DEGs-popover-title {
  font-size: 11px;
  margin-bottom: 2px;
}
.DEGs-popover textarea {
  width: 80px;
  height: 90px;
  font-size: 12px;
  background: white;
}
.DEGs-popover-remove {
  float: right;
}
span.popover-upGenes {
  position: relative;
  right: 10px;
}
span.popover-dnGenes {
  position: relative;
  right: -10px;
}
a.type-icon {
  margin-left: 3px;
}
a.previous {
  margin-right: 0.5em;
}
a.next {
  margin-right: 0.6em;
}
select {
  font-size: 0.8em;
}
div.page-option {
  margin-top: 3px;
}
a.remove-items {
  margin-left: 50px;
}
a.enrichr {
  font-size: 11px;
  color: black;
  font-weight: bold;
}
a.enrichr span {
  color: crimson;
}
a.cart {
  background: #599fb7;
  padding: 2px;
  border-radius: 2px;
  padding-right: 6px;
  color: white;
  font-size: 0.7em;
  padding-left: 3px;
}
a.cart:hover {
  background-color: #3593b1;
}
i.cart {
  font-size: 0.8em;
  vertical-align: 10%;
}
i.cart-add {
  margin-left: 6px;
  width: 11.2031px;
}
a.checkout {
  text-decoration: none;
}
a.checkout img {
  width: 40px;
  vertical-align: -35%;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
a.checkout span {
  position: relative;
  top: -5px;
  font-weight: bold;
  color: orange;
}
a.checkout span.single-digit {
  left: -17px;
}
a.checkout span.double-digit {
  left: -22px;
}
a.mannual {
  font-size: 1.2em;
  margin-left: 45px;
  vertical-align: -8%;
}
a.mannual:hover {
  color: #09505b;
}
.example-container {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}
.examples-header {
  font-weight: bold;
  color: #09505b;
}
.examples {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: auto;
  margin-top: 6px;
}
tags-input .tags {
  border: solid 1px #C7C7C7;
  border-radius: 3px;
  box-shadow: none;
}
tags-input .tags .tag-item {
  background-color: #4db3d6;
  color: white;
  background-image: none;
}
tags-input .tags .tag-item .remove-button {
  color: white;
}
tags-input .tags .tag-item.selected {
  background-color: #F97C7C;
  color: white;
  background-image: none;
}
table tr {
  border-top-style: dotted;
  border-top-width: thin;
}
table {
  cursor: default;
}
table tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}
table tr:hover {
  background-color: #EFECEC;
}
table tr td:last-child {
  padding-right: 0px;
}
.nothing {
  text-align: center;
  color: #09505b;
  margin-top: 3em;
}
.nothing-2 {
  margin-top: 5px;
}
