/* colors */
@color-white: #ffffff;
@color-black: #000000;

@color-lightgray: #f1f1f1;
@color-gray: #dddddd;
@color-darkgray: #888888;
@color-charcoal: #222222;
@color-lightcharcoal: #808080;

/* Logo and accent colors */
@color-primary: #3593b1;
@color-primary-light: #599fb7;
@color-primary-dark: #09505b;

@color-accent: #D16291;
/* Unused! */
@color-accent-dark: #9A2254;

/* fonts */
@font-size-base: 13px;
@font-family-base: 'Arial', sans-serif;
@font-family-accent: 'Archivo Narrow', sans-serif;
@font-kerning-small: .1em;
@font-kerning-big: .2em;


@border-color:#bbb;

@footer-height:100px;


.theme-color{
	color:@color-primary;
}

.theme-color-dark{
	color:@color-primary-dark;
	font-family: @font-family-base;
}



body{
	font-family: @font-family-base;
	
	// height: 100%;
	// min-height: 100%;
	// margin: 0;
	// padding:0;
}

.search-bar{
	display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;

}

.search-bar > *{
	margin:auto;
}

.sub-header{
	font-family: @font-family-accent;
}

html{
	// critical for sticky footer
	position: relative;
	min-height: 100%;
}

.top-header{
	margin-top:5px;
}

.footer{
 	   position: absolute;
 	   bottom: 0px;
 	   height: @footer-height;
       width: 100%;
       display: flex;
       flex-flow: row;
    	justify-content: space-around;
    	align-content: center;
}

.footer-wrapper{
	width:677px;
	border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #bbbbbb;

}

.logo{
	width: 100px;
    margin-top: 15px;
}

.title{
	display:inline-block;
}

.logo-title{
	
	vertical-align:60%;
	margin-left:10px;
}

.bd2k{
	color:#808080;
	font-size:0.8em;
}

.lab-title{
	vertical-align: 140%;
    font-size: 0.85em;
    margin-left: 20px;
    padding-right: 30px;
}

.view{
	display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    margin-bottom: @footer-height+10;
    flex-wrap:wrap;
}

.manual{
	width: 667px;
	text-align:justify;
	font-size: 13px;
}

a{
	color: @color-primary;

}

a.dcic-link{
	color:@color-primary-dark;
}

a.more-apps{
	vertical-align: 190%;
    font-size: 0.9em;
}

.fig {
    border: solid;
    border-width: thin;
    border-color: #bbb;
    padding: 5px;
    width: 650px;
}

.download{
	flex:1 100%;
	text-align: center;
}

td{
	padding-right: 6px;
}

.highlight{
	color: @color-primary;
    font-weight: bold;
}

.hover-dark:hover{
	color: @color-primary-dark;
}

.popover{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    white-space: normal;
}
.icon-popover{
	display: flex;
    align-content: center;
    justify-content: space-around;
    // width: 62px;
    /* height: 25px; */
    padding: 3px;
}

img.sigine{
	width:14px;
	height: 14px;
}

.DEGs-popover{
	padding:4px 6px;
}


.DEGs-popover-title{
	font-size: 11px;
	margin-bottom:2px;
}

.DEGs-popover textarea{
	width: 80px;
    height: 90px;
    font-size: 12px;
    background: white;
}

.DEGs-popover-remove{
	float:right
}

span.popover-upGenes{
	position: relative;
	right:10px;

}

span.popover-dnGenes{
	position: relative;
	right:-10px;
}
a.type-icon{
	margin-left:3px;
}

a.previous{
	margin-right: 0.5em;
}
a.next{
	margin-right: 0.6em;
}
select{
	font-size: 0.8em;
}
div.page-option{
	margin-top:3px;
}

a.remove-items{
	margin-left:50px;
}

a.enrichr{
	font-size:11px;
	color:black;
	font-weight:bold;
}
a.enrichr span{
	color:crimson
}
a.cart{
	background: @color-primary-light;
	padding: 2px;
	border-radius: 2px;
	padding-right: 6px;
	color:white;
	font-size:0.7em;
	padding-left: 3px;
}
a.cart:hover{
	background-color: @color-primary;
}
i.cart{
	font-size: 0.8em;
	vertical-align: 10%;
}
i.cart-add{
	margin-left: 6px;
	width:11.2031px;
}

a.checkout{
	text-decoration: none;
}

a.checkout img{
	width:40px;
	vertical-align:-35%;
}

a.disabled{
	pointer-events: none;
   cursor: default;
   // opacity: 0;
}

a.checkout span{
	position: relative;
    top: -5px;
    font-weight: bold;
    color: orange;
}

a.checkout span.single-digit{
	left: -17px;
}

a.checkout span.double-digit{
	left:-22px;
}

a.mannual{
	font-size: 1.2em;
    margin-left: 45px;
    vertical-align: -8%;
}

a.mannual:hover{
	color:@color-primary-dark;
}