body{
	/*text-align: center;*/
}

.container{
	display: table;
	margin: 0 auto; 
	/*min-width: 800px;*/
}

.header{
	font-size: 3em;
	cursor: pointer;
	margin-left:10px;
}

.sub-header{
	/*font-style: italic;*/
    margin-left: 0.8em;
}

.app-symbol{
	width:50px;
	vertical-align: -40%;
	cursor: pointer;
}

.search-box{
	width:600px;
	display: inline-block;
}

.search{
	vertical-align: 50%;
    margin-left: 1em;
}

.back{
	margin-left: 1.5em;
	text-decoration: none;
}

.checkout{
	margin-left:1em;
}

.previous{
	margin-right:1em;
}

a{
	text-decoration: underline;
	color:navy;
	cursor:pointer;
}
a.hover{
	text-decoration: underline;
	color:blue;
}

.col{
	display: inline-block;
	vertical-align: top;
}

.col-right{
	margin-left:5em;
}

.download{
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	font-size: 1.2em
}

