
<div ng-if="(types[0].items&amp;&amp;types[0].items.length&gt;0) &amp;&amp; tags.length&gt;0" ng-repeat="type in types" ng-style="{'margin-left': $index&gt;0?'3em':'0em'}" class="col">
  <div><strong>{{type.name}}</strong></div>
  <table>
    <tr ng-repeat="item in type.items" ng-class="{highlight:type.highlight(item)}">
      <td>{{item.batch}}</td>
      <td>{{item.pert}} </td>
      <td ng-if="item.dose">{{item.dose}}</td>
      <td><a ng-click="item.__selected = !item.__selected;type.toggleSelected(item)" class="cart"><i class="fa fa-shopping-cart"></i><i ng-if="!item.__selected" class="fa fa-plus cart-add"></i><i ng-if="item.__selected" class="fa fa-check cart-add"></i></a></td>
    </tr>
  </table>
  <div class="page-option"><a ng-style="{opacity: type.from&gt;=type.size?1:0}" ng-click="previous(type)" class="previous previous">previous</a><a ng-if="(type.from+type.size)&lt;count" ng-click="next(type)" class="next next">next</a><a ng-click="selectItems(type)">select</a>
    <select ng-model="type.searchView.select.option" ng-init="type.searchView.select.option = type.searchView.select.init">
      <option ng-repeat="option in type.searchView.select.options" value="{{option}}">{{option}}</option>
    </select>
  </div>
</div>