
<div ng-if="(types[0].items&amp;&amp;types[0].items.length&gt;0) &amp;&amp; tags.length&gt;0" ng-repeat="type in types" ng-style="{'margin-left': $index&gt;0?'3em':'0em'}" class="col">
  <div><strong>{{type.name}}</strong></div>
  <div ng-repeat="item in type.items">{{item.batch}}, {{item.pert}} {{item.dose?(", "+item.dose):''}} <input ng-model="item.__selected" type="checkbox" ng-change="type.toggleSelected(item)"></iput></div>
  <div><a ng-style="{opacity: type.from&gt;=type.size?1:0}" ng-click="previous(type)" class="previous">previous</a><a ng-if="(type.from+type.size)&lt;count" ng-click="next(type)" class="next">next</a></div>
</div>
<div ng-if="(!(types[0].items&amp;&amp;types[0].items.length&gt;0)) || tags.length==0" class="manual">
  <p class="first-line">
     
    Lich is a web app that searches for LINCS L1000 gene expression profiles and signatures 
    that match user's input parameters. It also features the functionality to 
    download selected gene expression profiles or signatures in 
    search results as tsv files in a zipped folder. Lich consists of two views: 
    the search view and the checkout view.
  </p>
  <p>
     
    <strong>Search View</strong>: This view will show up after user inputs some parameters 
    in the search bar and clicks the search button. It is divided into 
    two sections: the Level 3 section and the Level 5 section. LINCS 
    L1000 data have multiple levels depending on how much preprocessing has been 
    done on the data. The level 3 data are normalized gene expression profiles. 
    The level 5 data are differential expression signatures computed from level 3 
    replicates. The level 5 signatures in Lich were computed using characteristic 
    direction (CD) method and the details of this method can be found <a target="_blank" href="http://www.maayanlab.net/CD/">here</a>. The 
    Level 3 and the Level 5 sections display matched entries at corresponding levels.
  </p><img ng-src="css/img/search-view.png" class="fig"/><br/>
  <p>
    <strong>checkout View</strong>: If a profile or signature is checked in the
    search view, a checkout button will appear at the top right corner. Clicking on
    the button will bring up the checkout view in place of the search view.
    There is a download button at the top of the checkout view and clicking on
    that button will download the selected gene expression profiles and signatures as tsv files in a zipped
    folder. User can remove any selected entries to fine-tune
    the selection.
  </p><img ng-src="css/img/checkout-view.png" class="fig"/>
</div>